<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Scans within the base package of the application for @Components to
		configure as beans -->
	<context:component-scan base-package="service" />

	<bean id="person01" class="domain.FamilyMember">
		<property name="firstName" value="Henryk" />
    <property name="gender" value="Male" />
		<property name="yob" value="1954" />
    <property name="child">
      <ref bean="person02"/>
    </property>
	</bean>

  <bean id="person02" class="domain.FamilyMember">
    <property name="firstName" value="Franciszek" />
    <property name="gender" value="Male" />
    <property name="yob" value="1984" />
    <property name="child">
      <ref bean="person03"/>
    </property>
  </bean>

  <bean id="person03" class="domain.FamilyMember">
    <property name="firstName" value="Michał" />
    <property name="gender" value="Male" />
    <property name="yob" value="2015" />
  </bean>

</beans>
